header{margin-bottom:50px;}
header nav{height:60px;border-bottom:1px solid #ccc;}
header ul{padding:20px;}
header ul li{float:left;margin-right:30px;}
header ul li a{}
header ul img.profile_img{width:40px;margin:-15px;}

/* From Page */
.hotdeal_form{width:1200px;}
.hotdeal_form .basic_info{width:800px;}
.hotdeal_form input, .hotdeal_form textarea{display:block;width:100%;height:40px;margin-bottom:20px;border:1px solid #ccc;}
.hotdeal_form textarea{height:80px;}
.hotdeal_form trix-editor{min-height:15em;}
.hotdeal_form label{font-size:13px;}
.hotdeal_form .pricing div{float:left;;margin:1%;}
.hotdeal_form .pricing div .promo_code{width:500px;margin-right:1%;}
.hotdeal_form .pricing div .promo_date{width:300px;}
.hotdeal_form .form_btn input{margin-top:10px;background:#000;color:#fff;padding:15px 0;}
